.BugTrackerTitle {
    text-align: center;
}
#containerViewBugs {
    margin: 50px;
}

#bugViewTable_head {
    background-color: gray;
}

.bugViewTable_td {
    background-color: lightgray;
}


.bugViewTable_Table, .bugViewTable_th, .bugViewTable_td {
      border: 1px solid black !important;
          text-align: center;
}

/* React Modal "fade in ability" adds a "backdrop" that defaults to a 100% black screen for some reason */
.modal-backdrop {
    display:none !important;

}

#editColumn, #deleteColumn {
    width: 50px;
}