.BugTrackerTitle {
    text-align: center;
}
#containerViewBugs {
    margin: 50px;
}

#bugViewTable_head {
    background-color: gray;
}

.bugViewTable_td {
    background-color: lightgray;
}


.bugViewTable_Table, .bugViewTable_th, .bugViewTable_td {
      border: 1px solid black !important;
          text-align: center;
}

.modal-dialog {
    width:  875px;
}

#bugModalXButton {
    line-height: 19px;
    background-color: #fe0000 !important;
    margin-top: 1px;
    margin-right: 2px;
    position: absolute;
    top: 0;
    right: 0;
}


/* React Modal "fade in ability" adds a "backdrop" that defaults to a 100% black screen for some reason */
.modal-backdrop {
    display:none !important;

}

#editColumn, #deleteColumn, #isCompletedColumn, #userAssignedColumn, #statusColumn {
    width: 50px !important;
}

#organizationNameInBugTitle, .noResultsMessage, .completedBugsTitle, .activeBugsTitle {
    text-align: center;
}



