#organizationTable_head {
    background-color: gray;
}

.organizationTable_td {
    background-color: lightgray;
}


.organizationTable_Table, .organizationTable_th, .organizationTable_td {
      border: 1px solid black !important;
          text-align: center;
}

#noResultsHeader {
    text-align: center;

}
#confirmationHeader {
    text-align: center !important;
    color: black !important;
}

#organizationTable_head {
    font-size: 20px !important;
}
#organizationNameColumn, #organizationIDColumn {
    font-size: 20px !important;
}